.place__title {
    grid-area: title;
    color: #FFFFFF;
    margin: 0;
    font-style: normal;
    font-weight: 900;
}

@media screen and (min-width:1280px) {
    .place__title {
        font-size: 72px;
        line-height: 76px;
    }
}

@media screen and (min-width:1024px) and (max-width:1279.99px) {
    .place__title {
        font-size: 72px;
        line-height: 76px;
    }
}

@media screen and (min-width:768px) and (max-width:1023.99px) {
    .place__title {
        font-size: calc(42px + 30 * ((100vw - 768px) / 256));
        line-height: calc(46px + 30 * ((100vw - 768px) / 256));
    }
}

@media screen and (max-width:767.99px) {
    .place__title {
        font-size: 32px;
        line-height: 35px;
        margin-left: 16px;
        max-width: 100%;
    }
}