.places {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

@media screen and (min-width:1280px) {
    .places {
        box-sizing: border-box;
        width: 984px;
        margin-top: 92px;
    }
}

@media screen and (min-width:1024px) and (max-width:1279.99px) {
    .places {
        margin-top: 92px;
        width: calc(928px + 56 * ((100% - 1024px) / 256));
        margin: 0 auto;
    }
}

@media screen and (min-width:768px) and (max-width:1023.99px) {
    .places {
        margin-top: 88px;
        width: calc(720px + 208 * ((100% - 768px) / 256));

    }
}

@media screen and (max-width:767.99px) {
    .places {
        margin-top: 64px;
        min-width: 320px;
        width: calc(320px + 400 * ((100% - 320px) / 448));

    }
}