/* ---------------------------------------------------------------- */
/*  ALL  */
/* ---------------------------------------------------------------- */

.cover {
    margin: 0 auto;
    outline: 1px solid red;
    position: relative;
}

.cover__link {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.cover__title {
    font-family: 'Inter';
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    padding: 0;
    margin: 0;
    z-index: 1;
}

.cover__subtitle {
    font-family: 'Inter';
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    z-index: 1;
}


.cover__overlay {
    outline: 1px solid red;
    position: absolute;
    top: 0;
    background: #2A2C2F;
    opacity: 0.3;
}

.cover__overlay:hover {
    opacity: 0.8;
}

.cover__background {
    margin: 0;


}

/* ---------------------------------------------------------------- */
/*  1280 +  */
/* ---------------------------------------------------------------- */

@media all and (min-width:1280px) {

    .cover {
        width: 1184px;
        margin-top: 92px;
    }

    .cover__title {
        top: 245px;
        width: 560px;
        left: 312px;

        font-style: normal;
        font-weight: 900;
        font-size: 72px;
        line-height: 76px;
    }

    .cover__subtitle {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;

        width: 360px;
        top: 429px;
        left: 412px;
    }

    .cover__background {
        width: 1184px;
        height: 740px;
    }

    .cover__overlay {
        width: 1184px;
        height: 740px;
    }
}

/* ---------------------------------------------------------------- */
/*  1024-1279  */
/* ---------------------------------------------------------------- */

@media all and (min-width:1024px) and (max-width:1279px) {

    .cover {
        width: 1024px;
        margin-top: 92px;
    }

    .cover__title {
        top: 195px;
        width: 560px;
        left: 232px;

        font-style: normal;
        font-weight: 900;
        font-size: 72px;
        line-height: 76px;
    }

    .cover__subtitle {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;

        width: 360px;
        top: 379px;
        left: 332px;

    }

    .cover__background {
        width: 1024px;
        height: 640px;
    }

    .cover__overlay {
        width: 1024px;
        height: 640px;
    }
}

/* ---------------------------------------------------------------- */
/*  768-1023  */
/* ---------------------------------------------------------------- */

@media all and (min-width:768px) and (max-width:1023px) {
    .cover {
        width: 768px;
        margin-top: 90px;
    }

    .cover__title {
        top: 115px;
        width: 560px;
        left: 104px;

        font-style: normal;
        font-weight: 900;
        font-size: 72px;
        line-height: 76px;
    }

    .cover__subtitle {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;

        width: 360px;
        top: 299px;
        left: 204px;
    }

    .cover__background {
        width: 768px;
        height: 480px;
    }

    .cover__overlay {
        width: 768px;
        height: 480px;
    }
}

/* ---------------------------------------------------------------- */
/* - 320-767  */
/* ---------------------------------------------------------------- */

@media all and (max-width:767px) {
    .cover {
        width: 320px;
        margin-top: 66px;
    }

    .cover__title {

        top: 33px;
        width: 288px;
        left: 16px;

        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
    }

    .cover__subtitle {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;

        width: 288px;
        top: 119px;
        left: 16px;
    }

    .cover__background {
        width: 320px;
        height: 200px;
    }

    .cover__overlay {
        width: 320px;
        height: 200px;
    }
}