/* ---------------------------------------------------------------- */
/*  ALL  */
/* ---------------------------------------------------------------- */

.header {
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0 auto;
    outline: 1px solid red;
}

.header__logo {
    outline: 1px solid red;
    /* resolution is adjusted in mediaqueries blocks */
}

.header__links {
    justify-self: right;
    outline: 1px solid red;
    display: flex;
    flex-direction: row;
    gap: 18px;
}

.header__lang-link {
    font-family: 'Inter';
    color: #FFFFFF;
    text-decoration: none;
    align-self: flex-end;
    outline: 1px solid red;
}

.header__lang-link_active {
    border-bottom: 2px solid #FFFFFF;
}

/* ---------------------------------------------------------------- */

/* ---------------------------------------------------------------- */
/*  1280 +  */
/* ---------------------------------------------------------------- */
@media all and (min-width:1280px) {
    .header {
        padding-left: 48px;
        padding-right: 48px;
        margin-top: 28px;
    }

    .header__logo {
        width: 176px;
        height: 52px;
    }

    .header__lang-link {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
    }

}


/* ---------------------------------------------------------------- */
/* 1024 - 1279 */
/* ---------------------------------------------------------------- */
@media all and (min-width:1024px) and (max-width:1279px) {
    .header {
        padding-left: 48px;
        padding-right: 48px;
        margin-top: 28px;
    }

    .header__logo {
        width: 176px;
        height: 52px;
    }


    .header__lang-link {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
    }

}

/* ---------------------------------------------------------------- */
/*  768-1023  */
/* ---------------------------------------------------------------- */

@media all and (min-width:768px) and (max-width:1023px) {
    .header {
        padding-left: 24px;
        padding-right: 24px;
        margin-top: 28px;
    }

    .header__logo {
        width: 176px;
        height: 52px;
    }

    .header__lang-link {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
    }

}

/* ---------------------------------------------------------------- */
/* - 320-767  */
/* ---------------------------------------------------------------- */

@media all and (max-width:767px) {
    .header {
        padding-left: 16px;
        padding-right: 16px;
        margin-top: 16px;
    }

    .header__logo {
        width: 142px;
        height: 42px;
    }

    .header__lang-link {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
    }
}