.intro {
    max-width: 690px;
    outline: 1px solid red;
    margin-left: 148px;
    margin-top: 92px;
    margin-bottom: 92px;
}


.intro__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    /* identical to box height, or 107% */
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

.intro__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    /* or 26px */
    color: #FFFFFF;
}

.intro__list {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    /* or 150% */
    color: #FFFFFF;
    list-style: none;
}

.intro__numbers {
    font-weight: 400;
}