/* ---------------------------------------------------------------- */
/*  ALL  */
/* ---------------------------------------------------------------- */

.intro {
    outline: 1px solid red;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.intro__title {
    font-family: 'Inter';
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

.intro__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    margin-top: 40px;
}

.intro__list {
    margin: 0;
    padding: 0;
    margin-top: 33px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    list-style: none;
}

.intro__numbers {
    font-weight: 400;
}

/* ---------------------------------------------------------------- */
/*  1280 +  */
/* ---------------------------------------------------------------- */

@media all and (min-width:1280px) {
    .intro {
        margin-top: 92px;

        max-width: 690px;
        margin-left: 148px;

    }

    .intro__title {
        width: 100%;
        font-style: normal;
        font-weight: 900;
        font-size: 54px;
        line-height: 58px;

    }

    .intro__text {
        width: 100%;
    }
}

/* ---------------------------------------------------------------- */
/*  1024-1279  */
/* ---------------------------------------------------------------- */

@media all and (min-width:1024px) and (max-width:1279.99px) {
    .intro {
        margin-top: 92px;
        max-width: 690px;
        margin-left: calc(48px + 100 * ((100vw - 1024px)/256));
    }

    .intro__title {
        width: 100%;
        font-style: normal;
        font-weight: 900;
        font-size: 54px;
        line-height: 58px;
    }

    .intro__text {
        width: 100%;
    }
}

/* ---------------------------------------------------------------- */
/*  768-1023  */
/* ---------------------------------------------------------------- */

@media all and (min-width:768px) and (max-width:1023.99px) {
    .intro {
        max-width: 720px;
        margin-top: 88px;
        margin-left: calc(24px + 24 * ((100vw - 768px)/256));
    }

    .intro__title {
        width: 100%;
        font-style: normal;
        font-weight: 900;
        font-size: 54px;
        line-height: 58px;
    }

    .intro__text {
        width: 100%;
    }
}

/* ---------------------------------------------------------------- */
/* - 320-767  */
/* ---------------------------------------------------------------- */

@media all and (max-width:767.99px) {
    .intro {
        max-width: calc(320px + 448 * ((100vw - 320px)/448));
        margin-top: 64px;
        margin-left: calc(16px + 8 * ((100vw - 320px)/448));
        margin-right: calc(16px + 8 * ((100vw - 320px)/448));


    }

    .intro__title {
        width: 100%;

        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
    }

    .intro__text {
        width: 100%;
    }
}