/* ---------------------------------------------------------------- */
/*  ALL  */
/* ---------------------------------------------------------------- */
body {

    /* overflow-y: hidden; */
}

.page {
    margin: 0 auto;
    background-color: #2A2C2F;
    color: #FFFFFF;
    font-family: 'Inter';
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    transition: all 0.5s ease;
    outline: 1px solid red;
    padding: 0;
    box-sizing: border-box;
}


/* ---------------------------------------------------------------- */
/*  1280 +  */
/* ---------------------------------------------------------------- */
@media screen and (min-width:1280px) {
    .page {
        width: 1280px;


    }
}


/* ---------------------------------------------------------------- */
/*  1024-1279  */
/* ---------------------------------------------------------------- */
@media screen and (min-width:1024px) and (max-width:1279.99px) {
    .page {
        min-width: 1004px;
        max-width: 1279px;
    }
}


/* ---------------------------------------------------------------- */
/*  768-1023  */
/* ---------------------------------------------------------------- */
@media screen and (min-width:768px) and (max-width:1023.99px) {
    .page {
        min-width: 748px;
        max-width: 1023px;
    }
}

/* ---------------------------------------------------------------- */
/* - 320-767  */
/* ---------------------------------------------------------------- */
@media screen and (max-width:767.99px) {
    .page {
        min-width: 320px;
        max-width: 767px;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
}