@media screen and (min-width:1280px) {
    .places {
        width: 984px;
        margin: 0 auto;
        margin-top: 92px;
        outline: 1px solid red;
    }


    .place {
        margin-top: 80px;
        display: grid;
        grid-template-columns: 1fr minmax(484px, max-content);
        grid-template-rows: fitcontent() fitcontent();
        grid-template-areas:
            "title url"
            "image text";
        row-gap: 48px;
        column-gap: 40px;
    }



    .place__title {
        grid-area: title;
        width: 460px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 72px;
        line-height: 76px;
        /* or 106% */
        color: #FFFFFF;
        margin: 0;
        outline: 1px solid red;
    }


    .place__image {
        grid-area: image;
        width: 460px;
        height: 460px;
        outline: 1px solid red;
    }

    .place__website {
        margin: 0;
        padding: 0;
        grid-area: url;
        outline: 1px solid red;
        align-self: end;
    }

    .place__text {
        grid-area: text;
        margin: 0;
        margin-top: 0;
        outline: 1px solid red;
    }

    .place__url-heading {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 170%;
        /* or 20px */
        letter-spacing: 2px;
        color: #AAAAAA;
        margin: 0;
        margin-bottom: 6px;

    }

    .place__link {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        /* identical to box height, or 122% */
        text-decoration-line: underline;
        color: #FFFFFF;
    }

    .place__link:hover {
        opacity: 0.8;
    }

    .place__paragraph {
        margin: 0;
        margin-top: 0;
        margin-bottom: 26px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 163%;
        /* or 29px */
        color: #FFFFFF;
    }

}