/* ---------------------------------------------------------------- */
/*  ALL  */
/* ---------------------------------------------------------------- */

.places {
    margin: 0;
    padding: 0;
    margin: 0 auto;
    outline: 1px solid red;
    box-sizing: border-box;
}

.place {
    display: grid;
}

.place__title {
    grid-area: title;
    font-family: 'Inter';
    color: #FFFFFF;
    margin: 0;
    outline: 1px solid red;
}

.place__image {
    grid-area: image;
    outline: 1px solid red;
}

.place__website {
    margin: 0;
    padding: 0;
    grid-area: url;
    outline: 1px solid red;
    align-self: end;
}

.place__text {
    grid-area: text;
    margin: 0;
    outline: 1px solid red;
}

.place__url-heading {
    font-family: 'Inter';
    color: #AAAAAA;
}

.place__link {
    padding: 0;
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.place__link:hover {
    opacity: 0.8;
}

.place__paragraph {
    font-family: 'Inter';
    color: #FFFFFF;
}

/* ---------------------------------------------------------------- */
/*  1280 +  */
/* ---------------------------------------------------------------- */

@media all and (min-width:1280px) {
    .places {
        box-sizing: border-box;
        width: 984px;
        margin-top: 92px;

    }

    .place {
        margin-top: 80px;
        column-gap: 40px;
        row-gap: 48px;
        grid-template-columns: 460px 484px;
        grid-template-rows: fitcontent() fitcontent();
        grid-template-areas:
            "title url"
            "image text";
    }

    .place__title {
        font-style: normal;
        font-weight: 900;
        font-size: 72px;
        line-height: 76px;
    }

    .place__image {
        width: 460px;
        height: 460px;
    }

    .place__url-heading {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 170%;
        letter-spacing: 2px;
        padding: 0;
        margin: 0;
        margin-bottom: 12px;
    }


    .place__paragraph {
        margin: 0;
        margin-bottom: 26px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 163%;
    }
}

/* ---------------------------------------------------------------- */
/*  1024-1279  */
/* ---------------------------------------------------------------- */

@media all and (min-width:1024px) and (max-width:1279.99px) {
    .places {
        box-sizing: border-box;
        width: calc(928px + 56 * ((100vw - 1024px) / 256));
        margin: 0 auto;
        margin-top: 92px;
    }

    .place {
        margin-top: 80px;

        column-gap: 32px;
        row-gap: 48px;

        grid-template-columns: minmax(440px, 460px) minmax(456px, 484px);
        grid-template-rows: fitcontent() fitcontent();
        grid-template-areas:
            "title url"
            "image text";
    }

    .place__title {
        font-style: normal;
        font-weight: 900;
        font-size: 72px;
        line-height: 76px;
    }


    .place__image {
        width: 100%;
        height: auto;
    }


    .place__url-heading {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 170%;
        letter-spacing: 2px;
        padding: 0;
        margin: 0;
        margin-bottom: 12px;
    }

    .place__paragraph {
        margin: 0;
        margin-bottom: 26px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 163%;
    }
}

/* ---------------------------------------------------------------- */
/*  768-1023  */
/* ---------------------------------------------------------------- */

@media all and (min-width:768px) and (max-width:1023.99px) {
    .places {
        box-sizing: border-box;

        width: calc(720px + 208 * ((100vw - 768px) / 256));
        margin-top: 88px;
    }

    .place {
        margin-top: 73px;
        column-gap: 28px;
        row-gap: 48px;
        grid-template-columns: minmax(340px, 440px) minmax(352px, 456px);
        grid-template-rows: fitcontent() fitcontent();
        grid-template-areas:
            "title url"
            "image text";
    }

    .place__title {
        font-style: normal;
        font-weight: 900;

        font-size: calc(42px + 30 * ((100vw - 768px) / 256));
        line-height: calc(46px + 30 * ((100vw - 768px) / 256));
    }


    .place__image {
        width: 100%;
        height: auto;
    }


    .place__url-heading {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 2px;
        padding: 0;
        margin: 0;
        margin-bottom: 12px;
    }

    .place__paragraph {
        margin: 0;
        margin-bottom: 25px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 163%;
    }
}

/* ---------------------------------------------------------------- */
/* - 320-767  */
/* ---------------------------------------------------------------- */

@media all and (max-width:767.99px) {
    .places {
        min-width: 320px;
        width: calc(320px + 400 * ((100vw - 320px) / 448));
        margin-top: 64px;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        outline: 1px solid red;
    }

    .place {
        margin-top: 50px;
        row-gap: 32px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

        grid-template-areas:
            "title"
            "url"
            "image"
            "text";
    }

    .place__title {
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
        /* margin-left: 16px; */
        max-width: 100%;
    }

    .place__image {
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .place__paragraph {
        /* padding-left: 16px;
        padding-right: 16px; */

    }


    .place__url-heading {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 2px;
        padding: 0;
        margin: 0;
        /* margin-left: 16px; */
        margin-bottom: 12px;
    }

    .place__link {
        /* margin-left: 16px; */
    }

    .place__paragraph {
        margin: 0;
        margin-bottom: 25px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 163%;
    }
}