.cover__subtitle {
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
    z-index: 1;
    font-size: 18px;
    line-height: 22px;
    width: 360px;
    margin-top: 32px;
}



@media screen and (max-width:1279px) {
    .cover__subtitle {
        font-size: 18px;
        line-height: 22px;
        width: 360px;
        margin-top: 32px;
    }
}

@media screen and (max-width:1023px) {
    .cover__subtitle {
        font-size: 18px;
        line-height: 22px;
        width: 360px;
        margin-top: 32px;
    }
}

@media screen and (max-width:767px) {
    .cover__subtitle {
        width: calc(288px + 72 * ((100vw - 320px)/448));
        min-width: 288px;
        margin-top: calc(16px + 16 * ((100vw - 320px)/448));
        font-size: calc(14px + 4 * ((100vw - 320px)/448));
        line-height: calc(16px + 6 * ((100vw - 320px)/448));
    }
}