/* ---------------------------------------------------------------- */
/*  ALL  */
/* ---------------------------------------------------------------- */

.cover__subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
    z-index: 1;
}

/* ---------------------------------------------------------------- */

/* ---------------------------------------------------------------- */
/*  1280 +  */
/* ---------------------------------------------------------------- */
@media screen and (min-width:1280px) {
    .cover__subtitle {
        font-size: 18px;
        line-height: 22px;
        width: 360px;
        margin-top: 32px;
    }
}


/* ---------------------------------------------------------------- */
/* 1024 - 1279 */
/* ---------------------------------------------------------------- */
@media screen and (min-width:1024px) and (max-width:1279.99px) {
    .cover__subtitle {
        font-size: 18px;
        line-height: 22px;
        width: 360px;
        margin-top: 32px;
    }
}


/* ---------------------------------------------------------------- */
/*  768-1023  */
/* ---------------------------------------------------------------- */

@media screen and (min-width:768px) and (max-width:1023.99px) {
    .cover__subtitle {
        font-size: 18px;
        line-height: 22px;
        width: 360px;
        margin-top: 32px;
    }
}

/* ---------------------------------------------------------------- */
/* - 320-767  */
/* ---------------------------------------------------------------- */

@media screen and (max-width:767.99px) {
    .cover__subtitle {
        width: calc(288px + 72 * ((100vw - 320px)/448));
        min-width: 288px;
        margin-top: calc(16px + 16 * ((100vw - 320px)/448));
        font-size: calc(14px + 4 * ((100vw - 320px)/448));
        line-height: calc(16px + 6 * ((100vw - 320px)/448));
    }
}