.cover__subtitle {
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;

    font-size: 18px;
    line-height: 22px;
    width: 360px;
    margin: 0 0 19% 0;

    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    align-self: flex-end;
    z-index: 1;
}



@media screen and (max-width:1279px) {
    .cover__subtitle {
        font-size: 18px;
        line-height: 22px;
        width: 360px;
        margin: 0 0 19% 0;

    }
}

@media screen and (max-width:1023px) {
    .cover__subtitle {
        font-size: 18px;
        line-height: 22px;
        width: 360px;
        margin: 0 0 15% 0;
    }
}

@media screen and (max-width:767px) {
    .cover__subtitle {
        width: calc(288px + 72 * ((100vw - 320px)/448));
        min-width: 288px;
        font-size: calc(14px + 4 * ((100vw - 320px)/448));
        line-height: calc(16px + 6 * ((100vw - 320px)/448));
        margin: 0 0 15% 0;
    }
}


@media screen and (max-width:767px) {
    .cover__subtitle {
        margin-bottom: 10%;
    }
}