.photo-grid__item {
    margin: 0;
    padding: 0;
    width: 284px;
    height: 213px;
}

@media screen and (max-width:1279px) {
    .photo-grid__item {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width:320px) {
    .photo-grid__item {
        width: 288px;
    }
}