.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 28px auto 0 auto;
    padding: 0;
    max-width: 1184px;
}

@media screen and (max-width:1279px) {
    .header {
        width: calc(928px + 256 * (100% - 1024px) / 256);
        max-width: 100%;
    }
}

@media screen and (max-width:1023px) {
    .header {
        width: calc(720px + 208 * (100% - 768px) / 256);
        max-width: 100%;
    }
}

@media screen and (max-width:767px) {
    .header {
        width: calc(288px + 432 * (100% - 320px) / 488);
        max-width: 100%;
        margin-top: 16px;
    }
}

@media screen and (max-width:320.99px) {
    .header {
        width: 288px;
    }
}