.place__text {
    grid-area: text;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
}

.place__text .place__paragraph:nth-child(1) {
    margin-bottom: 25px;
}

@media screen and (max-width:320px) {
    .place__text {
        width: 288px;
        margin: 0 auto;
    }
}