.footer__link {
    text-decoration: none;
    color: white;
    margin: 0;
    padding: 0;
    outline: 1px solid red;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    margin-right: 18px;
    display: inline-block;


}

.footer__link:hover {
    opacity: 0.8;
}

@media screen and (max-width:767px) {
    .footer__link {
        height: 24px;
        font-size: 24px;
        line-height: 24px;
        margin: 0;
        padding: 0;
    }
}