.lead__title {
    color: #FFFFFF;
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    margin: 0;
    padding: 0;
    max-width: 720px;
}

@media screen and (max-width:767px) {
    .lead__title {
        width: calc(288px + 432 * ((100% - 320px) / 448));
        max-width: 100%;
        font-size: 12.5vw;
        line-height: 13.02vw;
    }
}


@media screen and (max-width:320.99px) {
    .lead__title {
        max-width: 288px;
        font-size: 12.5vw;
        line-height: 13.75vw;
    }
}