.place__paragraph {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 163%;
}



@media screen and (max-width:1023px) {
    .place__paragraph {
        font-size: 16px;
    }
}

@media screen and (max-width:767px) {
    .place__paragraph {
        padding-left: 16px;
    }
}

@media screen and (max-width:320px) {
    .place__paragraph {
        padding-left: 0;
    }
}