.footer__copyright {
    color: #FFFFFF;
    margin: 0 0 0 auto;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    align-self: flex-end;
}

@media screen and (max-width:767px) {
    .footer__copyright {
        margin: 0;
        align-self: flex-start;
    }
}

@media screen and (max-width:320px) {
    .footer__copyright {
        line-height: 14px;
        margin-top: 48px;
    }
}