.lead__image {
    margin-top: 64px;
    width: 100%;
    height: auto;
}

@media screen and (min-width:1280px) {
    .lead__image {
        margin-top: 64px;
    }
}

@media screen and (min-width:1024px) and (max-width:1279.99px) {
    .lead__image {
        max-width: 983px;
        margin-top: 56px;
    }
}

@media screen and (min-width:768px) and (max-width:1023.99px) {
    .lead__image {
        margin-top: 56px;

        max-width: 928px;
    }
}

@media screen and (max-width:767.99px) {
    .lead__image {
        margin-top: 40px;
        max-width: 767px;
    }
}