.intro {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-top: 92px;
    width: 690px;
    margin-left: calc(148px + (100% - 1280px) / 2)
}



@media all and (max-width:1279px) {
    .intro {
        margin-left: calc(48px + 100 * ((100% - 1024px) / 256));
    }
}

@media all and (max-width:1023px) {
    .intro {
        margin-top: 88px;
        width: calc(720px - 30 * ((100% - 768px) / 256));
        margin-left: calc(24px + 24 * ((100% - 768px) / 256));
    }
}

@media all and (max-width:767px) {
    .intro {
        margin-top: 64px;
        width: calc(288px + 432 * (100% - 320px) /448);

        max-width: 100%;
        margin-left: calc(16px + 8 * ((100% - 320px) / 448));
    }
}

@media all and (max-width:320px) {
    .intro {
        margin-left: 16px;
        padding-right: 5px;
        width: 288px;
        max-width: 100%;
    }
}