.lead__subtitle {
    color: #FFFFFF;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    margin: 32px 0 0 0;
    font-size: 30px;
    line-height: 36px;
    width: 640px;
}


@media screen and (max-width:767px) {
    .lead__subtitle {
        margin-top: calc(16px + 16*((100% - 320px) / 448));
        width: calc(288px + 352 * ((100% - 320px) / 448));
        max-width: 100%;
        font-size: 3.9vw;
        line-height: 4.7vw;
    }
}


@media screen and (max-width:320px) {
    .lead__subtitle {
        margin-top: 16px;
        font-size: 5vw;
        line-height: 6.3vw;
    }
}