.cover {
    padding: 0;
    box-sizing: border-box;
    margin: 92px auto 0 auto;
    max-width: 1184px;
}

@media all and (max-width:1279px) {
    .cover {
        width: calc(1024px + 160 * ((100% - 1024px)/256));
        max-width: 100%;
    }
}

@media all and (max-width:1023px) {
    .cover {
        width: calc(768px + 256 * ((100% - 768px)/256));
        max-width: 100%;
        margin-top: 90px;
    }
}

@media all and (max-width:767px) {
    .cover {
        width: calc(320px + 448 * ((100% - 320px)/448));
        min-width: 320px;
        max-width: 100%;
        margin-top: calc(66px + 24 * ((100% - 320px)/448));
    }
}