.cover__title {
    text-align: center;
    color: #FFFFFF;
    text-align: center;
    padding: 0;
    font-style: normal;
    font-weight: 900;
    margin: 0;
    z-index: 1;
    width: 560px;
    font-size: 72px;
    line-height: 76px;
    margin-top: 19%;
    grid-row: 1;
    grid-column: 1;
    justify-self: center;
}

@media screen and (max-width:1023px) {
    .cover__title {
        width: 560px;
        font-size: 72px;
        line-height: 76px;
    }
}

@media screen and (max-width:767px) {
    .cover__title {
        width: calc(288px + 272 * ((100vw - 320px)/448));
        min-width: 288px;
        font-size: calc(32px + 40 * ((100vw - 320px)/448));
        line-height: calc(35px + 41 * ((100vw - 320px)/448));
        margin-top: 15%;
    }
}

@media screen and (max-width:320px) {
    .cover__title {
        margin-top: 10%;
    }
}