.footer {
    margin: 0 auto;
    display: flex;
}

@media all and (min-width:1280px) {
    .footer {
        width: 1184px;
        margin-top: 92px;
        margin-bottom: 24px;
        flex-direction: row;
        justify-content: flex-start;
    }
}

@media all and (min-width:1024px) and (max-width:1279.99px) {
    .footer {
        width: calc(928px + 256 * ((100vw - 1024px)/256));
        margin-top: 92px;
        margin-bottom: 24px;
        flex-direction: row;
        justify-content: flex-start;
    }
}

@media all and (min-width:768px) and (max-width:1023.99px) {
    .footer {
        width: calc(720px + 208 * ((100vw - 768px)/256));
        margin-top: 88px;
        margin-bottom: 24px;
        flex-direction: row;
        justify-content: flex-start;
    }
}

@media all and (max-width:767.99px) {
    .footer {
        width: calc(186px + 534 * ((100vw - 320px)/448));
        margin-top: 64px;
        margin-bottom: 24px;
        margin-left: 16px;
        flex-direction: column;
        justify-content: flex-start;
        gap: 32px;
    }
}