.place__website {
    margin: 0;
    padding: 0;
    grid-area: url;
    align-self: end;
}

@media screen and (width:320px) {
    .place__website {
        width: 288px;
        margin-left: 0;
    }
}