.intro__title {
    font-family: 'Inter';
    color: #FFFFFF;
    font-style: normal;
    font-weight: 900;
    margin: 0;
    padding: 0;
    width: 100%;
}

@media screen and (min-width:1280px) {
    .intro__title {
        font-size: 54px;
        line-height: 58px;
    }
}

@media screen and (min-width:1024px) and (max-width:1279.99px) {
    .intro__title {
        font-size: 54px;
        line-height: 58px;
    }
}

@media screen and (min-width:768px) and (max-width:1023.99px) {
    .intro__title {
        font-size: 54px;
        line-height: 58px;
    }
}

@media screen and (max-width:767.99px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
    }
}