.intro__title {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 900;
    margin: 0;
    padding: 0;
    font-size: 54px;
    line-height: 58px;
    width: 100%;
}


@media screen and (max-width:767px) {
    .intro__title {
        font-size: calc(32px + 22 * ((100vw - 320px) / 448));
        line-height: calc(35px + 23 * ((100vw - 320px) / 448))
    }
}

@media screen and (max-width:320px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
    }
}